main .statement-text-container:has(.white) {
  background-color: var(--background-color);
}

.statement-text-container .statement-text > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.statement-text-container .column-0, .statement-text-container .column-1 {
  width: 100%;
  padding: 0;
}

.statement-text-container .column-1 ul {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  list-style-type: none; 

  padding: 0;
}

@media (min-width: 900px) {
  .statement-text-container .statement-text > div {
    flex-direction: row;
  }
  .statement-text-container .column-0, .statement-text-container .column-1 {
    width: 50%;
    padding: 0;
  }
}
