main .testimonial-container:has(.white) {
  background-color: var(--background-color);
}

.testimonial-container .testimonial > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial img {
  min-width: 200px;
}

@media (min-width: 900px) {
  .testimonial-container .testimonial > div {
    display: grid;
    grid-template: 'disclaimer signature01 signature02';
    grid-gap: 20px;
  }
  
  .testimonial-container .column-0 {
    grid-area: disclaimer;
    width: 35vw;
    max-width: 70%;
  }
  
  .testimonial-container .column-1 {
    grid-area: signature01;
  }
  
  .testimonial-container .column-2 {
    grid-area: signature02;
  }
}



