main .testimonial-container {
  padding: 180px 64px;
  background-color: var(--background-color);
}

.testimonial-container .testimonial > div {
  display: grid;
  grid-template-rows: none;
  grid-template: 'disclaimer signature01 signature02';
}

.column-0 {
  grid-area: disclaimer;
  min-width: 600px;
}

.column-1, .column-2 {
  padding: 0 40px;
}

.column-1 {
  grid-area: signature01;
}

.column-2 {
  grid-area: signature02;
}

