main .testimonial-container {
  padding: 180px 64px;
  background-color: var(--background-color);
}

.testimonial-container .testimonial > div {
  display: grid;
  grid-template-rows: none;
  grid-template: 'disclaimer signature01 signature02';
}

.testimonial-container .column-0 {
  grid-area: disclaimer;
  width: 50%;
  min-width: 600px;
}

.testimonial-container .column-1, .testimonial-container .column-2 {
  padding: 0 40px;
}

.testimonial-container .column-1 {
  grid-area: signature01;
}

.testimonial-container .column-2 {
  grid-area: signature02;
}

