.section > div.header-statement-wrapper {
  padding-top: 96px;
}

.header-statement h1 {
  background: url("./home-header.png") no-repeat left top / contain;
  width: 90vw;
  padding: 10px 0;
}

.header-statement h1 span {
  position: relative;
  left: -9000px;
}

.header-statement .header-statement__text {
  margin-top: -96px;
  padding-bottom: 24px;
}

@media (min-width: 600px) {
  .section > div.header-statement-wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .header-statement h1 {
    width: 80vw;
    padding: 10px 100px 10px 50px;
  }

  .header-statement .header-statement__text {
    width: clamp(300px, 50vw, 540px);
    margin-top: -48px;
  }
}

@media (min-width: 900px) {
  .header-statement h1 {
    width: clamp(300px, 55vw, 700px);
  }

  .header-statement .header-statement__text {
    width: clamp(300px, 45vw, 620px);
  }
}
