.section > div.header-statement-wrapper {
  padding-top: 96px;
}

.header-statement h1 {
  background: no-repeat left top / contain;
  width: 100%;
  padding: 0;
}

.section.hero-section.header-statement-container.image-column-container .header-statement h1 {
  background: no-repeat left bottom / contain;
  margin-top: calc(6vw - 100px);
}

.header-statement h1 span {
  position: relative;
  left: -9000px;
}

.header-statement .header-statement__text {
  padding-bottom: 24px;
}

@media (min-width: 500px) {
  .header-statement h1 {
    width: clamp(300px, 488px, 700px);
    padding: 0;
  }
  
  .section.hero-section.header-statement-container.image-column-container .header-statement h1 {
    margin-top: 0;
  }

  .section > div.header-statement-wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .header-statement .header-statement__text {
    width: clamp(300px, 80vw, 540px);
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .header-statement h1 {
    width: clamp(300px, 55vw, 700px);
  }

  .header-statement .header-statement__text {
    width: clamp(300px, 45vw, 620px);
  }

  .hero-section.header-statement-container.image-column-container .blocks-wrapper {
    display: flex;
    align-items: center;
  }
}
