.section.header-statement-container {
  padding-top: 36px;
  padding-bottom: 36px;
}

.header-statement h1 {
  width: clamp(300px, 45vw, 630px);
}

@media (min-width: 600px) {
  .section.header-statement-container {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .section.header-statement-container {
    padding-top: 240px;
    padding-bottom: 135px;
  }
}