.section.button-section-container {
    display: none;
    padding-top: 0;
}

.button-section-container .button-container{
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .section.button-section-container {
        display: flex;
    }
}