.section.button-section-container {
  display: none;
}

.button-section-container .button-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .section.button-section-container {
    display: block;
  }
}
