/* header and nav layout */
header nav {
  font-family: var(--body-font-family);
  position: fixed;
  z-index: 100;

  display: grid;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: var(--nav-height);
  padding: 0 2rem;
  background-color: rgb(255, 255, 255);
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 50px 1fr 50px;
  animation:  0.25s ease-in-out;
}

.header.block {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  overflow-y: scroll;
  min-height: 100vh;
  grid-template: 'hamburger brand' 'sections sections' 'tools tools';
  grid-template-columns:  56px 1fr;
}

/* brand */
header .nav-brand {
  font-size: 22px;
  font-weight:700;
  line-height: 1em;
  grid-area: brand;
}

header .nav-brand p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 50px;
  height: auto;
}

/* hamburger */
header nav .nav-hamburger {
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
  grid-area: hamburger;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  position: relative;
  top: 8px;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  position: absolute;
  top: -6px;
  content: '';
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  transform: translate(-3px, -2px);
  border: 2px solid transparent;
  border-radius: 5px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  position: absolute;
  top: 8px;
  left: 1px;
  display: block;
  box-sizing: border-box;
  width: 22px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  border-radius: 5px;
  background: currentcolor;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  display: none;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: var(--overlay-color);
  grid-area: sections;
}

header nav .nav-sections ul  {
  font-size: 14px;
  font-weight: 500;
  padding-left: 0;
  list-style: none;
} 

header nav .nav-sections li {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  align-self: flex-start;
}

/* tools */
header nav .nav-tools {
  flex: 0 0 auto;
  height: 22px;
  grid-area: tools;
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

/* desktop nav styles */
@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 1.5rem 3rem;
    margin: 0 auto;
    height: var(--nav-height);
    border-radius: 50px;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }

  header nav .nav-sections {
    flex: 0 0 auto;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    position: absolute;
    top: 8px;
    right: 14px;
    display: inline-block;
    width: 6px;
    height: 6px;
    content: ' ';
    transform: rotate(135deg);
    border: solid currentcolor;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-sections {
    display: unset;
  }

  header nav .nav-brand {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  header nav .nav-brand img {
    width: 25px;
  }

  header nav .nav-brand a {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    width: unset;
    margin: 0;
    background-color: unset;
  }
  
  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    font-size: 14px;
    position: relative;
    margin: 0;
    padding: 0 30px;
    padding-top: 0;
    cursor: pointer;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    position: relative;
    display: none;
    margin-top: 20px;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections > ul > li > ul::before {
    position: absolute;
    top: -15px;
    left: 20px;
    width: 0;
    height: 0;
    content: '';
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--highlight-background-color);
    border-left: 15px solid transparent;
  }


  header nav .nav-sections > ul > li > ul > li {
    font-size: 18px;
    padding: 8px 16px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] ul {
    position: absolute;
    left: 0;
    display: block;
    width: 300px;
    padding: 16px;
    background-color: var(--highlight-background-color);
    box-shadow: 0 0 5px var(--text-color);
  }
}
