.scroll-disable {
  overflow: hidden;
  max-height: 100vh;
}

/* header and nav layout */
header nav {
  font-family: var(--nav-font-family);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-areas: "brand hamburger";
  align-items: center;
  box-sizing: border-box;
  background-color: var(--background-color);
  box-shadow: var(--navbar-mobile-box-shadow);
  z-index: 5;
}

.header.block {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

header nav a:any-link {
  color: currentcolor;
}

/* nav in mobile open state */
header nav[aria-expanded="true"] {
  width: 100vw;
  margin: 0;
  padding: 0 2rem;
}

/* brand */
header .nav-brand {
  font-size: var(--navbar-mobile-brand-font-size);
  font-weight: 700;
  line-height: 1em;
  display: flex;
  gap: 10px;
  align-items: center;
  grid-area: brand;
}

header .nav-brand p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header nav .nav-brand p {
  margin: 0;
}

.invert-icon {
  filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(74deg) brightness(121%) contrast(101%);
}

/* -------------  hamburger icon ------------- */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 5px;
  display: flex;
  justify-content: end;
}

.header nav .nav-hamburger:hover{
  cursor: pointer;
}

.nav-hamburger-icon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
}

header nav .nav-hamburger-icon__line {
  position: absolute;
  top: 8px;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
  transition: var(--transition-ease-in-out);
}

header nav .nav-hamburger-icon__line.top {
  top: 0;
}

header nav .nav-hamburger-icon__line.middle {
  top: 6px;
}

header nav .nav-hamburger-icon__line.bottom {
  position: absolute;
  top: 12px;
}

/* opened hamburger icon styles */
header nav[aria-expanded="true"] .nav-hamburger-icon {
  display: block;
  box-sizing: border-box;
  transform: translate(-3px, -2px);
  border: 2px solid transparent;
}

header nav[aria-expanded="true"] .nav-hamburger-icon__line.middle {
  transform: rotate(45deg);
}

header nav[aria-expanded="true"]  .nav-hamburger-icon__line.middle:nth-child(2) {
  transform: rotate(-45deg);
}

header nav[aria-expanded="true"] .nav-hamburger-icon__line.top {
  transform: translateX(105%);
}

header nav[aria-expanded="true"] .nav-hamburger-icon__line.bottom {
  transform: translateX(-105%);
}

/* ------------- nav-sections / menu-items ------------- */
header nav .nav-sections {
  display: block;
  flex: 1 1 auto;
  flex-direction: column;
  grid-area: sections;
}

@media (max-width: 900px) {
  header nav .nav-sections {
    opacity: 0;
    pointer-events: none;   /* mobile */

    /* position: absolute; */
    position: fixed;
    top: calc(var(--nav-height) - 1px);
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    padding: 0.5rem 2rem;
    transition: var(--transition-ease-in-out) 0.2s;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: flex-start;
    opacity: 1;
    pointer-events: auto;
  }
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections li {
  font-size: var(--navbar-mobile-menu-item-font-size);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

header nav .nav-sections .deconstruction_text_wrapper {
  position: relative;
  overflow: hidden;
  height: 20px;
}

header nav .nav-sections .deconstruction_text_wrapper > div {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 15px;
  transform: translateY(-50%);
}

header nav .nav-brand a {
  font-family: var(--brand-name-font-family);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: var(--navbar-mobile-brand-font-size);
  line-height: 35px;
}

@media (max-width: 900px) {
  .desktop-nav-link {
    display: none;
  }
}

/* desktop nav styles */
@media (min-width: 900px) {
  .mobile-nav-link {
    display: none;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1080px;
    height: var(--nav-height);
    padding: 1.5rem 3rem;
    margin: 1rem auto 0;
    border: 0;
    border-radius: 50px;
    box-shadow: var(--navbar-desktop-box-shadow);
  }

  header nav .nav-sections {
    flex: 0 0 auto;
    display: unset;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    content: " ";
    position: absolute;
    top: 8px;
    right: 14px;
    display: inline-block;
    width: 6px;
    height: 6px;
    transform: rotate(135deg);
    border: solid currentcolor;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-brand {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  header nav .nav-brand img {
    width: 23px;
  }

  header nav .nav-brand a {
    font-size: var(--navbar-desktop-brand-font-size);
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: unset;
  }

  header nav[aria-expanded="true"] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    font-size: var(--navbar-desktop-menu-item-font-size);
    letter-spacing: 0.09em;
    position: relative;
    margin: 0;
    width: 84px;
    height: 20px;
    margin-left: 28px;
    display: flex;
    justify-content: end;
  }

  header nav .nav-sections > ul > li > ul > li {
    font-size: 18px;
    padding: 8px 16px;
  }

  /* work nav-link spacing with approach nav-link */
  header nav .nav-sections > ul > li:first-child {
    margin-right: 18px;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    position: relative;
    display: none;
    margin-top: 20px;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections > ul > li > ul::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--highlight-background-color);
    border-left: 15px solid transparent;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] ul {
    position: absolute;
    left: 0;
    display: block;
    width: 300px;
    padding: 16px;
    background-color: var(--highlight-background-color);
    box-shadow: 0 0 5px var(--text-color);
  }

  .deconstructed-text-wrapper {
    position: absolute;
    overflow: hidden;
    height: 2rem;
  }

  .deconstructed-text-item_00,
  .deconstructed-text-item_01,
  .deconstructed-text-item_02,
  .deconstructed-text-item_03 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2rem;
    transform: translateY(-50%);
  }

  .deconstructed-text-container_00 {
    display: flex;
    align-items: center;
    height: 10px;
  }

  .deconstructed-text_00 {
    transform: translateY(6px);
    position: absolute;
  }

  .deconstructed-text-container_01 {
    bottom: 2px;
    height: 3px;
  }

  .deconstructed-text_01 {
    top: 0;
    transform: translateY(-16px);
  }

  .deconstructed-text-item_02 {
    transform: translateY(-100%);
  }

  .deconstructed-text-container_02 {
    transform: translateY(-120%);
    height: 20px;
  }

  .deconstructed-text_02 {
    top: 0;
  }

  /* transform: translateY(100%); */
  .deconstructed-text-item_03 {
    transform: translateY(-100%);
  }

  .deconstructed-text-container_03 {
    top: 0;
    transform: translateY(-120%);
    height: 20px;
  }

  .deconstructed-text_03 {
    top: 0;
    transform: translateY(-75%);
  }

  .hidden-text {
    opacity: 0;
    pointer-events: none;
  }
}
