.blocks-wrapper {
  width: 100%;
}

.section-layout-home-case-study .blocks-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
}

.section-layout-services-case-study .blocks-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
}

.case-study-cta-wrapper {
  padding: 42px 0;
}

.case-study-logo {
  display: flex;
  justify-content: center;
}

.case-study-logo img {
  max-height: 20px;
}

.case-study-copy {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.case-study-eyebrow {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2.5;
  letter-spacing: 0.09em;
}

.case-study-copy h1 {
  font-size: var(--heading-font-size-xl);
  margin: 0.5em 0 0.4em;
}

.case-study-description {
  margin-top: 0;
  margin-bottom: 2rem;
}

.case-study-copy .button-container {
  margin: 0;
}

.section-layout-home-case-study .case-study-copy {
  align-items: center;
  text-align: center;
  max-width: 360px;
}

@media (max-width: 600px) {
  .section-layout-home-case-study.stacked-card-display-container {
    padding-top: 64px;
  }
}

@media (min-width: 600px) {
  .section-layout-home-case-study .blocks-wrapper {
    flex-direction: row;
  }

  .section-layout-home-case-study .blocks-wrapper > div {
    flex: 1;
  }

  .case-study-logo {
    display: flex;
    justify-content: flex-start;
  }

  .case-study-copy {
    align-items: flex-start;
    text-align: left;
    padding: 0 16px 48px 0;
  }

  .section-layout-home-case-study .case-study-copy {
    max-width: 570px;
  }

  .case-study-description {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 900px) {
  .case-study-logo {
    margin-bottom: clamp(24px, 2vw, 28px);
  }

  .case-study-logo img {
    max-height: 24px;
  }

  .case-study-copy h1 {
    font-size: var(--heading-font-size-xxl); 
  }

  .section-layout-home-case-study .case-study-copy h1{
    margin-top: 0;
  }

  .case-study-description {
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 900px) {
  .section.case-study-cta-container.stacked-card-labeled-container {
    padding-top: 0;
  }
}

/* section layout with class starting with 'section-layout-'
  home - case study */
@media (min-width: 600px) {
  .section-layout-home-case-study .case-study-copy {
    align-items: flex-start;
    text-align: left;
  }
}

/* work detail - case study general */
.section-layout-project-detail-case-study .case-study-description,
.section-layout-project-detail-with-testimonial .case-study-description {
  margin-bottom: 0;
}

.section-layout-project-detail-case-study .blocks-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "stacked-cards-desktop"
    "case-study-detail";
}

.section-layout-project-detail-case-study .case-study-cta-wrapper {
  grid-area: case-study-detail;
}

.section-layout-project-detail-case-study .stacked-card-desktop-wrapper {
  grid-area: stacked-cards-desktop;
}

.section-layout-project-detail-case-study img {
  border-radius: var(--border-radius-s);
  filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.15));
}

@media (min-width: 600px) {
  .section-layout-project-detail-case-study .image-column img {
    max-height: 540px;
  }
}

@media (min-width: 900px) {
  .section.section-layout-project-detail-case-study {
    min-height: 900px;
    display: flex;
    align-items: center;
  }

  .section-layout-project-detail-case-study .blocks-wrapper {
    grid-template-columns: 3fr 4fr;
    grid-template-areas: "case-study-detail stacked-cards-desktop";
  }

  .section-layout-project-detail-case-study .case-study-copy {
    max-width: 580px;
    padding: 0 36px 0 0;
  }

  .section-layout-project-detail-case-study.section-layout-life-vantage
    .case-study-copy {
    padding: 0 28px 0 0;
  }

  .section-layout-project-detail-case-study .case-study-description {
    margin-bottom: 0;
  }

  .section-layout-project-detail-case-study .case-study-cta-wrapper {
    margin-bottom: 0;
    align-self: center;
  }

  .section-layout-project-detail-case-study .image-column img {
    max-height: 700px;
  }
}

@media (min-width: 1200px) {
  .section-layout-project-detail-case-study .blocks-wrapper {
    grid-template-columns: 5fr 6fr;
  }
}

/* work detail - case study with testimonial */
.section-layout-project-detail-with-testimonial .blocks-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "stacked-cards"
    "case-study-detail"
    "client-feedback";
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: clip;
}

.section-layout-project-detail-with-testimonial .case-study-cta-wrapper {
  grid-area: case-study-detail;
}

.section-layout-project-detail-with-testimonial .client-feedback-wrapper {
  grid-area: client-feedback;
}

.section-layout-project-detail-with-testimonial .stacked-card-slider-wrapper {
  grid-area: stacked-cards;
  align-self: center;
  justify-self: center;
}

@media (min-width: 600px) {
  .section-layout-project-detail-with-testimonial .case-study-copy {
    padding-bottom: 0;
    max-width: none;
  }
}

@media (min-width: 900px) {
  .section-layout-project-detail-with-testimonial .blocks-wrapper {
    grid-template-columns: 3fr 4fr;
    grid-template-areas:
      "stacked-cards case-study-detail"
      "stacked-cards client-feedback";
  }
}

@media (min-width: 1200px) {
  .section-layout-project-detail-with-testimonial .blocks-wrapper {
    grid-template-columns: 5fr 6fr;
  }

  .section-layout-project-detail-with-testimonial .stacked-card-slider-wrapper {
    padding-right: 7.5%;
  }

  .section-layout-project-detail-with-testimonial .case-study-cta-wrapper,
  .section-layout-project-detail-with-testimonial .client-feedback-wrapper {
    padding-right: 7.5%;
  }
}
