.statement-image-container:has(.white) {
  background-color: var(--background-color);
}

main .statement-image > div {
  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

main .statement-image div :nth-child(1) {
  width: 100%;
  padding: 0;
  margin: 0;
}
 

main .statement-image div :nth-child(2) {
  justify-self: flex-end;
  min-width: 320px;
}

main .statement-image img {
  height: 100%;
  width: auto; 
  object-fit: contain;
}

@media (min-width: 900px) {
  main .statement-image > div {
    flex-direction: row;
  }
  main .statement-image div :nth-child(1) {
    width: 70%;
  }
}