.project-card-container:has(.white) {
  background: var(--background-color);
}

.project-card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: all 300ms linear;
}

.project-card.reverse > div {
  flex-direction: column-reverse;
}

@media (min-width: 900px) {
  .project-card.vr > div {
    flex-direction: row;
  }
  
  .project-card.hr > div {
    flex-direction: column;
    align-items: flex-start;
  }
}

.project-card .project-card-image-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
}

@media (min-width: 900px) {
  .project-card .project-card-image-frame {
    height: 100%;
    width: 500px;
    max-width: 700px;
  }
}
.project-card .project-card-image-frame {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 500px;
  max-width: 700px;
  border-radius: 20px;
  background-color: transparent;
}

.project-card .project-card-copy {
  max-width: 100%;
  left: 0px;
}

@media (min-width: 900px) {
  .project-card .project-card-copy {
    width: 30%;
  }
}

.project-card .project-card-title {
  font-family: PlexMono-Medium, sans-serif;
  font-size: 14px;
  line-height: 35px;
  margin: 3em 0 1.5em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.project-card .project-card-description {
  font-family: GildaDisplay-Regular, serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 1em 0;
}