.related-project-card-container:has(.white) {
  background: var(--background-color);
}

/* .related-project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
} */

.related-project-card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  transition: all 300ms linear;
}

@media (min-width: 900px) {
  .related-project-card > div {
    /* flex-direction: row; */
  }

  /* .related-project-card > div > div:nth-child(2){
    margin: 0 0 0 4em;
  } */
}

.related-project-card .related-project-card-image-frame {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 350px;
  max-height: 500px;
  border-radius: 20px;

  background-color: var(--text-color);
}

@media (min-width: 900px) {
  .related-project-card .related-project-card-image-frame  {
    flex: 14;
    order: unset;

    min-height: 350px;
  }
}

.related-project-card .related-project-card-image-frame img {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 570px;
  width: 100%;

  transform: translateY(-50%) translateX(-50%);
}

@media (min-width: 900px) {
  .casestudy-card .casestudy-card-image-frame img {
    min-width: 700px;
  }
}


.related-project-card .related-project-card-copy {
  max-width: 100%;
  left: 0px;
}

.related-project-card .related-project-card-title {
  font-family: GildaDisplay-Regular, serif;
  font-size: 28px;
  line-height: 41px;
  text-transform: capitalize;

  margin: 3rem 0 0 0;
}

.related-project-card .related-project-card-description {
  font-size: 14px;
  line-height: 31px;
  font-weight: 400;

  margin: 1em 0;
}