footer {
  font-size: var(--body-font-size-xs);
}

footer .footer {
  max-width: 1440px;
  margin: 24px auto 16px;
  
  padding: 42px 32px;
}

@media (min-width: 600px) {
  footer .footer {
    padding: 48px 64px;
  }
}

footer .footer p {
  margin: 0;
  font-size: 14px;
  line-height: 2.125;
}

footer .footer h4 {
  font-size: 28px;
}

footer .footer a {
  color: var(--text-color);
  text-decoration: underline lightgrey;
  transition: all 0.25s ease-in-out;
  padding-block: 0.5em;
}

footer .footer a:hover {
  background-color: #fde4b2;
}

footer .footer .columns div {
  margin-bottom: 1.5em;
}

@media (min-width: 600px) {
  footer .footer .columns div {
    margin-bottom: 0;
  }
}




footer .footer h2 {
  margin: 0;
}

@media (min-width: 900px) {
  footer .footer h2 {
    max-width: 65%;
  }
}

