/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  /* colors */
  --link-color: #000;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --background-color-light-grey: #f8f8f8;
  --background-color-grey: rgba(244, 244, 244, 0.6);
  --overlay-background-color: rgba(244, 244, 244, 0.6);
  --nav-background-color: #222;
  --overlay-color: inherit;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --text-color-white: #fff;
  --text-color-light-grey: rgba(0, 0, 0, 0.2);
  --text-color-grey: rgba(0, 0, 0, 0.4);
  --cursor-large-color: #ff918918;
  --cursor-small-color: #ff9189;
  --label-color-black: #021b29;
  --label-color-blue: #0d4599;
  --label-color-orange: #ff5824;
  --button-grey-color: #E1E1E1;
  --black: #000;

  /* fonts */
  --body-font-family: inter, sans-serif;
  --nav-font-family: plexmono-medium, sans-serif;
  --heading-font-family: inter, sans-serif;
  --brand-name-font-family: circular-bold, sans-serif;
  --label-font-family: "Acumin Pro", sans-serif;
  --fixed-font-family: "consolas", monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: clamp(14px, 2.2vw, 16px);
  --body-font-size-xs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 42px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 30px;
  --heading-font-size-m: 28px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* navbar font sizes */
  --navbar-mobile-brand-font-size: 24px;
  --navbar-mobile-menu-item-font-size: 28px;
  --navbar-desktop-brand-font-size: 22px;
  --navbar-desktop-menu-item-font-size: 14px;

  /* button sizes */
  --button-font-size-m: 16px;

  /* nav height */
  --nav-height: 72px;
  --cursor-large-size: 60px;
  --cursor-small-size: 10px;

  /* border-radius */
  --border-radius-s: 8px;
  --border-radius-m: 20px;
  --label-border-radius-large: 70px;

  /* shadows */
  --navbar-mobile-box-shadow: 0 2.6912px 16.1471px rgba(0, 0, 0, 0.05);
  --navbar-desktop-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  --image-card-shadow: drop-shadow(0 3.1247px 34.3717px rgba(0, 0, 0, 0.15));
  --image-slider-card-box-shadow: 0 4px 20px rgba(0, 45, 93, 0.1);
  --image-label-shadow: 0 18.2327px 14.5861px rgba(0, 0, 0, 0.0503),
    0 9.7480px 7.7984px rgba(0, 0, 0, 0.0417),
    0 5.4646px 4.3717px rgba(0, 0, 0, 0.035),
    0 2.9022px 2.3218px rgba(0, 0, 0, 0.0282),
    0 1.2076px 0.9661px rgba(0, 0, 0, 0.0196);

  /* padding */
  --button-padding: 7px 42px;

  /* transition eases */
  --transition-ease-in-out: all 0.3s ease-in-out;
}

/* desktop */
@media (min-width: 900px) {
  :root {
    /* headimg */
    --heading-font-size-xxl: clamp(40px, 4.2vw, 60px);
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 32px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 21px;

    /* body */
    --body-font-size-s: clamp(16px, 1.6vw, 21px);

    /* padding */
    --button-padding: 12px 64px;
  }

  .section > div {
    max-width: 1440px;
    margin: 0 auto;
  }

  .section.multi-block-wrapper > div {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .section > div {
    padding: 0 20px;
  }
}

@media (min-width: 1400px) {
  .section > div {
    padding: 0 40px;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: 1.6;
  display: none;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  position:relative;
}

/* disable default styles */
input,
textarea,
button,
select,
a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body.appear {
  display: block;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.15;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: 1.1;
  letter-spacing: -0.02em;
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

@media (min-width: 600px) {
  h1 {
    line-height: 1.15;
  }
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 300;
}

p {
  font-size: var(--body-font-size-s);
  line-height: 1.57;
}

a:any-link {
  text-decoration: none;
  color: var(--link-color);
}

.nav-sections a {
  padding-bottom: 0.15em;
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}



/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  font-size: var(--button-font-size-m);
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--button-padding);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  border-radius: 30px;
  color: var(--background-color);
  background-color: var(--link-color);
  border: 2px solid var(--link-color);
  transition: all 0.3s ease-in-out;
  line-height: 2;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
  color: var(--text-color);
  background-color: transparent;
}

button:disabled,
button:disabled:hover {
  cursor: unset;
  background-color: var(--overlay-background-color);
}

a.button.secondary,
button.secondary {
  color: var(--text-color);
  border: 2px solid currentcolor;
  background-color: unset;
}

.shape {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: all 300ms linear;
  z-index: 99999;
}

.shape.shape-1,
.shape.shape-3 {
  border-style: solid;
  display: block;
  border-radius: 50%;
  height: 0;
  transition: all 300ms linear;
}

.shape.shape-1 {
  width: var(--cursor-large-size);
  height: var(--cursor-large-size);
  background: var(--cursor-large-color);
  border: none;
  margin: calc(-60px / 2) 0 0 calc(-60px / 2);
}

.shape.shape-3 {
  border-color: transparent transparent var(--cursor-small-color);
  border-width: 0 0 var(--cursor-small-size);
  width: var(--cursor-small-size);
  margin: calc(-10px / 2) 0 0 calc(-10px / 2);
}

.shapes.hover .shape.shape-1,
.shapes.hover .shape.shape-3 {
  width: 0;
  height: 0;
  border-radius: 0;
  margin: 0;
}

.shapes.hover .shape.shape-3 {
  transform: translate(0, 6.7px);
  border-width: 0 10px 20px;
}

::selection {
  color: #fff;
  background: #2128bd;
}

main input {
  font-size: 1.25rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section,
footer .section {
  padding: 42px 26px;
  max-width: 100vw;
  overflow-x: clip;
}

@media (min-width: 600px) {
  main .section,
  footer .section {
    padding: 48px 32px;
  }
}

@media (min-width: 900px) {
  main .section,
  footer .section {
    padding: 48px 64px;
  }
}

@media (min-width: 1200px) {
  main .section,
  footer .section {
    padding: 100px 64px;
  }
}

main pre {
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
  border-radius: 0.25em;
  background-color: var(--overlay-background-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  line-height: 0;
  content: "“";
}

main blockquote p::after {
  line-height: 0;
  content: "”";
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* progressive section appearance */
main .section[data-section-status="loading"],
main .section[data-section-status="initialized"] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* Utility CSS */
.section .full-width {
  position: relative;
  right: 50%;
  left: 50%;
  overflow: hidden;
  width: 100vw;
  max-height: 75vw;
  margin-right: -50vw;
  margin-left: -50vw;
  padding: 0;
  text-align: center;
}

@media (min-width: 600px) {
  .full-width, .section .full-width {
    max-height: 45vw;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .full-width, .section .full-width {
    max-height: 60vw;
  }
}

.upper {
  text-transform: uppercase;
}

.leading-12 {
  line-height: 3rem;
}

.leading-14 {
  line-height: 3.5rem;
}

.bg-grey {
  background-color: var(--background-color-grey);
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

@media (min-width: 900px) {
  .pt-100-ns {
    padding-top: 100px;
  }
}

.pt-150 {
  padding-top: 150px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

@media (min-width: 900px) {
  .pb-100-ns {
    padding-bottom: 100px;
  }
}

.pb-150 {
  padding-bottom: 150px;
}

@media (min-width: 900px) {
  .n-mt-100 {
    margin-top: -100px;
  }
}

.pb-m {
  padding-bottom: 50px;
}

@media (min-width: 900px) {
  .pb-m {
    padding-bottom: 100px;
  }
}

/* ------------- section styles  ------------- */
.section.section-layout-bg-light-grey {
  background-color: var(--background-color-light-grey);
}

.section.section-layout-bg-grey {
  background-color: var(--background-color-grey);
}


.section.hero-section {
  padding-top: clamp(26px, 15vh, 150px);

  /* adjust styles to reveal less bottom section for better lighthouse score */
  min-height: 95vh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section.hero-section > div {
  width: 100%;
}

@media (min-width: 600px) {
  .section.hero-section {
    min-height: auto;
  }
}

@media (max-width: 600px) and (min-height: 700px){
  .section.hero-section .section-lead{
    padding-bottom: 2rem;
  }
}

/* ------------- go to next section arrow btn ------------- */
.next-section-arrow-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--black);
  width: clamp(34px, 4.2vw, 54px);
  aspect-ratio: 1 / 1;
  border: 2px solid var(--black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.next-section-arrow {
  width: clamp(10px, 1vw, 15px);
}

.next-section-arrow-btn:hover .next-section-arrow{
  animation: moving-down 2s ease infinite;
}

/* ------------- animations ------------- */

/* fade up animation */
.fadeup {
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: transform, opacity;
  transform: translateY(30px);
  opacity: 0;
}

.in-view {
  transform: none;
  opacity: 1;
}

/* arrow moving down */
@keyframes moving-down {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }

  30% {
    transform: translateY(0);
    opacity: 1;
  }

  70% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
      transform: translateY(15px);
      opacity: 0;
  }
}

/* arrow moving up */
@keyframes moving-up {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  30% {
    transform: translateY(0);
    opacity: 1;
  }

  70% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
}