/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #EFF2F0;
  --overlay-color: inherit;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --cursor-large-color: #005dfe;
  --cursor-medium-color: #ffe5e3;
  --cursor-small-color: #ffcd57;

  /* fonts */
  --body-font-family: plexmono-regular, sans-serif;
  --nav-font-family: plexmono-medium, sans-serif;
  --heading-font-family: gildadisplay-regular, serif;
  --fixed-font-family: 'consolas', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 42px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 30px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 72px;

  --cursor-large-size: 50px;
  --cursor-medium-size: 35px;
  --cursor-small-size: 20px;

}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }

  .section > div {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
  cursor: none;
}

body, html {
  height: 100%;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: 1.6;
  display: none;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

body.appear {
  display: block;
  align-items: center;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  text-decoration: none;
  color: var(--link-color);
}

a {
  padding-bottom: .15em;
  background: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}

a:hover {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  font-family: var(--body-font-family);
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  margin: 16px 0;
  padding: 5px 30px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: var(--background-color);
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: var(--link-color);
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  cursor: pointer;
  background-color: var(--link-hover-color);
}

button:disabled, button:disabled:hover {
  cursor: unset;
  background-color: var(--overlay-background-color);
}

a.button.secondary, button.secondary {
  color: var(--text-color);
  border: 2px solid currentcolor;
  background-color: unset;
} 


.shape {
  position: fixed;
	pointer-events: none;
  border-radius: 50%;
	top: 0;
  left: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
  z-index: 99999;
}

.shape.shape-1,
.shape.shape-2,
.shape.shape.shape-3 {
  border-style: solid;
  display: block;
  border-radius: 50%;
  height: 0;
  transition: all 300ms linear;
}

.shape-1 {
  border-color: transparent transparent var(--cursor-large-color);
  border-width: 0 0 var(--cursor-large-size);
  width: var(--cursor-large-size);
  margin: calc(-50px/2) 0 0 calc(-50px/2) ; 
}

.shape.shape-2 {
  border-color: transparent transparent var(--cursor-medium-color);
  border-width: 0 0 var(--cursor-medium-size);
  width: var(--cursor-medium-size);
  margin: calc(-35px/2) 0 0 calc(-35px/2) ; 
}

.shape.shape-3 {
  border-color: transparent transparent var(--cursor-small-color);
  border-width: 0 0 var(--cursor-small-size);
  width: var(--cursor-small-size);
  margin: calc(-20px/2) 0 0 calc(-20px/2) ; 
}

.shapes.hover .shape.shape-1, 
.shapes.hover .shape.shape-2,
.shapes.hover .shape.shape-3{
  width: 0;
  height: 0;
  border-radius: 0;
  margin: 0;
}

.shapes.hover .shape.shape-1 {
  transform: translate(0, 6.7px);
  border-width: 0 30px 60px;
}

.shapes.hover .shape.shape-2 {
  transform: translate(0, 6.7px);
  border-width: 0 20px 40px;
}

.shapes.hover .shape.shape-3 {
  transform: translate(0, 6.7px);
  border-width: 0 10px 20px;
}

::selection {
  color: #fff;
  background: #2128bd;
}


main input {
  font-size: 1.25rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 42px 32px;
  overflow: hidden;
}

@media (min-width: 600px) {
  main .section {
    padding: 48px 64px;
  }
}

main pre {
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
  border-radius: .25em;
  background-color: var(--overlay-background-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  line-height: 0;
  content: "“";
}

main blockquote p::after {
  line-height: 0;
  content: "”";
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

.tbx-column-points h3:nth-child(1) {
  font-size: 24px;
  line-height: 1.75;
}

.tbx-column-points h3:nth-child(2) {
  font-size: 28px;
}

.tbx-column-points p {
  font-size: 14px;
  line-height: 2.125;
  padding-bottom: 40px;
}

@media (min-width: 900px) {
  .tbx-column-points p {
    font-size: 14px;
    line-height: 2.125;
    padding-bottom: 10px;
  }
}

/* Utility CSS */
.section .full-width {
  position: relative;
  right: 50%;
  left: 50%;
  overflow: hidden;
  width: 100vw;
  max-height: 45vw;
  margin-right: -50vw;
  margin-left: -50vw;
  padding: 0;
  text-align: center;
}

@media (min-width: 600px) {
  .full-width {
    max-height: 40vw;
  }
}

.upper {
  text-transform: uppercase;
}

.leading-12 {
  line-height: 3rem;
}

.leading-14 {
  line-height: 3.5rem;
}

.bg-grey {
  background-color: var(--overlay-background-color);
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

@media (min-width: 900px) {
  .pt-100-ns {
    padding-top: 100px;
  }
}

.pt-150 {
  padding-top: 150px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

@media (min-width: 900px) {
  .pb-100-ns {
    padding-bottom: 100px;
  }
}

.pb-150 {
  padding-bottom: 150px;
}

.n-mt-100 {
  margin-top: -100px;
}

/* fade up animation */

.fadeup {
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: transform, opacity;
  transform: translateY(30px);
  opacity: 0;
}

.in-view {
  transform: none;
  opacity: 1;
}
